:root {
    --text-color: #39a6b2;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* NAVIGATION SECTION */
  
header {
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
  
header h1 {
    color: var(--text-color);
    font-weight: bold;
    margin: 0;
    font-size: 36px; 
}
  
header a {
    text-decoration: none;
}
  
header nav {
    margin: 6px 0;
}
  
header nav ul {
    color: var(--text-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
  
header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
}
  
/* END NAVIGATION */


/* HERO SECTION */
.hero {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
}

.hero-img  {
    border: 3px solid #39a6;
    padding: 20px;
    width: 40%;
    margin: 3.5%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
}

.hero-img img {
    height: 100%;
    width: 100%;
}

.heroQuote {
    padding: 150px 0px 50px 0px;
    width: 35%;
    text-align: right;
    margin: 3.5%;
    color: var(--text-color);
    font-size: 21px;
    line-height: 1.5;
}
  
.heroQuote h3 {
    font-style: italic;
    font-size: 60px;
}
/* END HERO SECTION */


/* ABOUT ME SECTION */
#aboutMe {
    padding: 50px 0 50px 0;
    color: var(--text-color);
}
.intro p {
    line-height: 1.5;
    color: var(--text-color);
    width: 80%;
    margin: 0 auto;
    font-size: 20px;
    text-align: center;
}
/* END ABOUT ME SECTION */


/* MY PROJECTS SECTION */
.projects {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
}

.main-project {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
}

.sub-project {
    height: auto;
    width: 25%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.project {
    border: 3px solid #39a6;
    margin: 20px;
    flex: 1;
    color: var(--text-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
}

.project img {
    
    width: 100%;
    height: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 15px 15px 0px 0px;
  }
  
  .project-bio {
    padding: 25px;
    line-height: 1.5;
    color: var(--text-color);
  }
  
  .project-bio h3 {
    font-size: 28px;
  }
  
  .project-bio h4 {
    font-weight: lighter;
    font-size: 22px;
  }
  
  .project-bio p {
    font-size: 17px;
  }
/* END MY PROJECTS SECTION */


/* CONTACT SECTION */
#contactMe {
    width: 100%;
}

.center {
    padding: 10px 0 50px 0;
  
}

.contact {
    color: var(--text-color);
    width: 50%;
    text-align: center;
    
}

.contact-info {
    justify-content: center;
    border: 3px solid #39a6;
    margin: auto;
    flex: 1;
    width: 50%;
    color: var(--text-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    font-size: 20px;
}

.contact-info address {
    padding: 20px 0 20px 0;
    line-height: 2;
}
/* CONTACT SECTION END */


/* FOOTER SECTION */
footer {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.footer-info {
    color: var(--text-color);
    padding: 20px;
}
/* END FOOTER SECTION */


/* SECTIONS GENERAL */
  .section-title {
    font-size: 48px;
    border-bottom: 3px solid;
    color: var(--text-color);
    padding-bottom: 20px;
    text-align: center;
    margin: 50px auto 35px auto;
    width: 700px;
}


/* Utilitites */
.flex-row {
    display: flex;
}



/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    header {
      padding-bottom: 0;
      justify-content: center;
      position: -webkit-sticky;
      position: sticky;
      top: 0;
      position: relative
    }
  
    header h1 {
      width: 100%;
      text-align: center;
    }
  
    header nav ul {
      margin-top: 10px;
      margin-bottom: 10px;
      width: 100%;
      justify-content: center;
    }
  
    header nav ul li a {
      font-size: 20px;
    }
  
    footer h2, footer div {
      text-align: center;
      width: 100%;
    }
    
    .heroQuote{
        padding: 30px 0px 50px 0px;;
        line-height: 1.2;
    }

    .heroQuote h3 {
        padding-top: 20px;
        font-size: 35px
    }
  
    .section-title {
      width: 75%;
    }

    .projects {
        width: 75%;
    }
    
    .main-project {
        width: 100%;
    }
  
    .sub-project {
        width: 100%
    }

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
    section {
        padding: 30px 15px;
    }
  
    .hero-img  {
        padding: 20px;
        width: 50%;
    }
    
    .heroQuote{
        padding: 20px 0px 0px 0px;
        font-size: 18px;
        line-height: 1.2;
    }

    .heroQuote h3 {
        padding-top: 20px;
        font-size: 35px
    }
}
    
  
/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
  
    section {
        padding: 10px 15px;
    }
    
    .hero-img {
        width: 100%;
    }

    .heroQuote {
        width: 100%;
    }

    #aboutMe {
        padding: 0 0 50px 0;
    }

}